@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: linear-gradient(#ffdad5, #fff7f9);
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 2%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo, .navbar {
    color: #ededed;
    text-decoration: none;
    transition: .3s;
    display: flex; 
    align-items: center; 
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #ededed;
    margin-right: auto; 
}

.navbar {
    margin-left: auto; 
}

.navbar a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px; 
    text-decoration: none;
    color: #ededed;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    position: relative;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: left;
    box-sizing: border-box;
    background: url('home.jpg') no-repeat center/cover;
}

.home-content {
    text-align: center;
    padding: 80px 10%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn-box {
    display:inline-flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    align-items: center;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
}

.btn-box a:nth-child(1) {
    background: #00abf0;
    border: 2px solid #00abf0;
    color: #081b29;
}

.btn-box a:nth-child(2) {
    background: transparent;
    border: 2px solid #00abf0;
    color: #00abf0;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a:nth-child(2):hover {
    background: transparent;
    color: #081b29;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    margin-right: 10%;
    padding: 20px;
}

.home-sci a {
    position: relative;
    display:inline-flex; 
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

section:not(.home) {
    background: #000000;
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
}

.about-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-images img{
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 80px;
}

.hobby-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 2%;
}

.hobby-list img {
    max-width: 120px;
    width: 100%;
    border-radius: 8px;
}

.About-content {
    max-width: 1000px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

.About-content h2, .About-content h3, .About-content h4 {
    color: #333;
    margin-bottom: 10px;
}

.About-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #333;
}

.About-content li {
    margin-bottom: 5px;
}

.About-content p {
    margin-bottom: 15px;
    color: #555;
    line-height: 1.7;
}

.contact {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 290px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 100%;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    box-sizing: border-box;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .navbar {
        font-size: 10px;
    }

    .navbar.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 99;
    }

    .navbar.active a {
        display: block;
        padding: 10px 0;
    }

    .home {
        height: auto;
        padding: auto;
    }

    .home-content {
        max-width: 100%;
        padding: 10 10px;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .btn-box {
        flex-direction: column;
        width: 100%;
        height: 10%;
    }

    .btn-box a {
        width: 100%;
        margin: 10px 0;
    }

    .home-sci {
        flex-direction: column;
        align-items: center;
        padding: auto;

    }

    .home-sci a {
        margin: auto;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .About-content {
        max-width: 100%;
        padding: 15px;
    }

    .About-content h2 {
        font-size: 24px;
    }

    .About-content h3 {
        font-size: 20px;
    }

    .About-content h4 {
        font-size: 18px;
    }

    .About-content ul {
        margin-left: 15px;
    }

    .About-content p {
        margin-bottom: 10px;
    }
    .contact-container {
        padding: 20px 10px;
        flex-direction: column;
    }

    .contact-left {
        align-items: center;
    }

    .contact-left-title h2 {
        font-size: 28px;
    }

    .contact-inputs {
        width: 100%;
        max-width: none;
        padding-left: 15px;
    }

    .contact-left button {
        width: 100%;
        justify-content: center;
    }

    .contact-right img {
        max-width: 100%;
    }
}
